#sidebar {
  display: flex;
  justify-content: center;
  align-items: center;

  ul {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    gap: 0.5rem;
    justify-content: space-evenly;

    list-style-type: none;

    li {
      font-weight: 600;
    }
  }

  @media screen and (max-width: 425px) {
    display: none;
  }
}
