#sidebar {
  display: flex;
  justify-content: center;
  align-items: center;

  ul {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;

    list-style-type: none;

    li {
      cursor: pointer;
      font-weight: 600;
      padding: 0.5rem 1rem;
      border-radius: 10px;

      transition: background 0.2s ease-in-out;

      &:hover {
        background: $card_bg;
      }
    }
  }
}
