.card {
  background: $card_bg;
  border-radius: 10px;
  min-width: 270px;
  min-height: 100px;

  flex-grow: 1;

  padding: 1rem;
  overflow: hidden;

  box-shadow: rgb(0 0 0 / 10%) 0px 4px 12px;

  border: 1px solid transparent;
  transition: all 0.3s ease-in-out;
  border-radius: 10px;

  &:hover {
    border: 1px solid $primary;
  }
}

.no_padding {
  padding: 0;
}
