.card {
  background: var(--card_bg);
  min-width: 270px;
  min-height: 100px;

  flex-grow: 1;

  padding: 1rem;
  overflow: hidden;

  border: 1px solid var(--card_border);
  transition: all 0.3s ease-in-out;
  border-radius: 15px;

  &:hover {
    background-color: var(--card_bg_hover);
  }

  opacity: 0;
  filter: blur(2px);

  transition: all 0.8s ease-in-out;
}

.visible {
  filter: blur(0);
  opacity: 1;
}

.no_padding {
  padding: 0;
}
