.socials {
  display: flex;
  align-items: center;
  gap: 1rem;

  opacity: 0;

  animation: pop-in 1.4s ease-in-out forwards;
  animation-delay: 2.8s;

  #linkedin,
  #github,
  #contact,
  #website {
    display: flex;
    align-items: center;

    transition: all 0.2s ease-in-out;

    .username {
      font-style: normal;
      margin-left: 0.2rem;
      color: grey;
    }
  }

  @media screen and (max-width: 645px) {
    justify-content: center;
  }
}

@keyframes pop-in {
  0% {
    opacity: 0;
    filter: blur(2px);
  }
  100% {
    opacity: 1;
    filter: blur(0);
  }
}
