#navbar {
  display: flex;
  justify-content: center;
  align-items: center;

  height: var(--navbar_height);

  backdrop-filter: blur(12px);

  position: relative;

  .mobile {
    display: none;
  }

  #navbar_ul {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 1rem;

    list-style-type: none;

    .links {
      display: flex;
      align-items: center;
      gap: 1rem;

      li {
        display: flex;
        justify-content: center;
        align-items: center;

        cursor: pointer;

        font-weight: 600;
        padding: 0.5rem 1rem;
        border-radius: 10px;

        color: var(--text_light);

        transition: all 0.2s ease-in-out;

        opacity: 0;

        animation: pop-in 0.5s ease-in-out forwards;

        &:hover {
          background: var(--card_bg);
          color: var(--text);
        }
      }

      li:nth-child(1) {
        animation-delay: 1.4s;
      }
      li:nth-child(2) {
        animation-delay: 1.6s;
      }
      li:nth-child(3) {
        animation-delay: 1.8s;
      }
      li:nth-child(4) {
        animation-delay: 2s;
      }
    }

    .actions {
      display: flex;
      align-items: center;
      gap: 1.5rem;

      li {
        display: grid;
        place-items: center;

        cursor: pointer;
        font-weight: 600;
        padding: 0.5rem 1rem;
        border-radius: 10px;

        color: var(--text_light);

        transition: all 0.2s ease-in-out;

        opacity: 0;

        animation: pop-in 0.5s ease-in-out forwards;

        &:hover {
          background: var(--card_bg);
          color: var(--text);
        }
      }

      li:nth-child(1) {
        animation-delay: 2.6s;
      }

      li:nth-child(2) {
        animation-delay: 2.8s;
      }
    }
  }

  @media (max-width: 650px) {
    z-index: 1;

    .mobile {
      display: block;

      .burger {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-50%, 25%);
        cursor: pointer;
      }
    }

    #navbar_ul {
      position: absolute;

      top: 76px;
      transform: translateX(calc(-100% - 2rem));
      padding: 0;

      height: calc(100vh - var(--navbar_height));

      flex-direction: column;
      justify-content: flex-start;
      gap: 4rem;

      overflow: hidden;

      transition: 0.3s transform ease-in-out;

      .links {
        flex-direction: column;
        align-items: flex-start;
        gap: 1.5rem;

        li {
          font-size: x-large;
          width: min-content;
        }
      }

      .actions {
        flex-direction: column;
        align-items: flex-start;
        gap: 1.5rem;
      }
    }
  }
}

@keyframes pop-in {
  0% {
    opacity: 0;
    filter: blur(2px);
    transform: scale(0.5);
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    filter: blur(0);
    transform: scale(1);
    transform: translateY(0);
  }
}
