.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-family: 'Noto Sans JP', sans-serif;

  margin: 0 0 4rem 0;

  .title_inner {
    position: relative;

    .title_text {
      margin: 0;
      padding: 2rem 0 1rem 0;

      text-align: center;

      text-transform: uppercase;

      font-size: clamp(2.5rem, 6vw, 5rem);
      letter-spacing: 0.08rem;

      &::after {
        transform: scale(2);

        opacity: 0.03;
        content: attr(data-title);
        position: absolute;
        top: 0rem;
        left: 0rem;
      }
    }
  }

  .title_subtitle {
    text-align: center;
    font-size: clamp(1rem, 3vw, 1.5rem);
    opacity: 0.8;
  }
}
