.title {
  display: flex;
  align-items: flex-end;
  gap: 1rem;

  h1 {
    height: max-content;
    line-height: 3.5rem;

    font-size: 3.6rem;

    width: max-content;
    background: -webkit-linear-gradient(left top, var(--primary) 0%, var(--primary) 50%, var(--secondary) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;

    opacity: 0;

    transition: all 1s ease-in-out;
    animation: fade-in-right 1s ease-in-out forwards;
  }

  @media screen and (max-width: 425px) {
    h1 {
      font-size: 2.8rem;
    }
  }
}

@keyframes fade-in-right {
  from {
    opacity: 0;
    filter: blur(2px);
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
  }
}
