#studies {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;

  .master {
    width: 100%;
  }

  .study {
    padding: 1.5rem;
    position: relative;

    min-width: 200px;

    display: grid;
    grid-template-rows: auto auto auto;
    gap: 1.5rem;

    .img {
      display: flex;
      align-items: center;
      width: min-content;
    }

    .badges {
      display: flex;
      align-items: center;
      gap: 10px;
      grid-row-start: 3;
      z-index: 1;
    }

    .title {
      display: flex;
      align-items: center;
    }
  }
}
