#testimonials {
  display: grid;
  grid-template-columns: auto;
  gap: 2rem;

  .testimonial {
    padding: 1.5rem;

    figure {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
    }

    figure,
    blockquote {
      margin: 0;
      color: var(--text);

      p {
        margin-top: 0;
      }
    }

    code {
      font-size: xx-large;
    }

    figcaption {
      font-family: 'Yeseva One', cursive;
      display: grid;
      grid-template-columns: min-content auto;
      grid-template-rows: auto auto;
      align-items: center;

      font-weight: bold;
      letter-spacing: 1px;
      color: var(--text);

      .avatar {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        margin-right: 0.5rem;
        position: relative;

        grid-row: 1 / 3;
      }

      cite {
        letter-spacing: normal;
        font-style: normal;
        font-weight: normal;
        grid-column-start: 2;
        font-size: small;

        color: var(--text_light);
      }
    }
  }
}
