.contact {
  form {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    input,
    textarea {
      width: 100%;
      min-height: 3rem;
      padding: 0.5rem;
      border: 1px solid #ccc;
      border-radius: 5px;
      outline: none;
      resize: vertical;
    }

    textarea {
      min-height: 10rem;
    }

    button {
      padding: 1rem 2rem;
      text-transform: uppercase;
    }
  }
}
