#layout {
  padding: 0 1rem 1rem 1rem;
  overflow: hidden;

  display: grid;
  justify-content: center;
  gap: 6rem;

  position: relative;

  main {
    max-width: 50rem;
    display: flex;
    flex-direction: column;
    gap: 5rem;

    transition: all 0.2s ease-in-out;
  }
}
