.pp {
  width: 150px;
  height: 150px;
  border-radius: 5px;

  cursor: pointer;

  object-fit: cover;

  opacity: 0;

  transition: all 0.3s ease-in-out;

  transition: all 0.3s ease-in-out;
  animation: fade-in-top 1s ease-in-out forwards;
  animation-delay: 1s;

  &:hover {
    width: 200px;
    height: 200px;

    border-radius: 15px;
  }

  @media screen and (max-width: 645px) {
    width: 130px;
    height: 130px;
  }
}

@keyframes fade-in-top {
  from {
    opacity: 0;
    filter: blur(2px);
    transform: translateY(25px);
  }
  to {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
  }
}
