$bg: #151718;
$bg_darker: #0f1113;

$text: rgb(240, 230, 246);
$text_light: #eeeeee;

$primary: #9e8cfc;
$primary_bg: #251e40;

$secondary: #00c2d7;
$secondary_bg: #07303b;

$ternary: rgb(50, 238, 46);
$ternary_bg: rgb(1, 63, 0);

$warning: rgb(255, 166, 0);
$warning_bg: rgb(76, 50, 2);

$error: rgb(244, 54, 54);
$error_bg: rgb(83, 1, 1);

$default: #bbbbbb;
$default_bg: #363636;

$card_bg: #0E0E0B;
$card_border: #212121;

$epitech: #025B9C;
$wcs: #883436;