@import url("https://fonts.googleapis.com/css2?family=Asap+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");
@import "_variables.scss";

html,
body {
  padding: 0;
  margin: 0;
  /* font-family: "Nuosu SIL", serif; */
  font-family: "Noto Sans JP", sans-serif;
  scroll-behavior: smooth;

  color: var(--text);
  background: var(--bg);
  transition: all 0.8s ease-in-out;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
