#ui {
  display: grid;
  grid-template-columns: auto;
  gap: 2rem;
  padding: 0.5rem;

  section {
    display: grid;
    place-items: center;
    gap: 1rem;
  }

  .cards {
    flex-direction: column;
  }
}
